{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}