:local {
  .form {
    margin: auto;
    & > * {
      margin: 10px 0;
    }

    & > span {
      margin: 10px 10px 10px 0;
      display: inline-block;
      width: 60px;
      text-align: right;
    }
  }
}